* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 592px;
    height: 592px;
    padding: 0px;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid-square {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    flex-shrink: 1;
}