* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    width: 540px;
    height: 540px;
    padding: 0px;
    margin-top: 20px;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1 1 0;
    width: 100%;
}

.grid-square {
    width: 20px;
    border: 0.5px solid black;
    margin: 0px;
    padding: 0px;
    flex: 1 1 0;
}

.mouseover-square {
    background-color: black;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}